<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hankarun.gevrek"
    android:versionCode="22"
    android:versionName="4.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="UpdateService"
            android:process=":my_service"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name"
            >
        </service>

        <receiver android:name=".BootReciever"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.hankarun.gevrek.Login"
            android:configChanges="orientation"
            android:theme="@style/Theme.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hankarun.gevrek.MainActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.hankarun.gevrek.Homeworks"
            android:configChanges="orientation"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.hankarun.gevrek.GroupMessages"
            android:configChanges="orientation"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.hankarun.gevrek.MessageRead"
            android:configChanges="orientation"
            android:label="@string/title_activity_message_read"
            android:parentActivityName="GroupMessages" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="GroupMessages" />
        </activity>
        <activity
            android:name="com.hankarun.gevrek.PostActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.hankarun.gevrek.NewsGroupEdit"
            android:label="@string/title_activity_news_group_edit"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>
